.auth-wrapper {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
}

.intro-section {
  background-color: rgba(7, 7, 103, 0.9);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.intro-section img {
  width: 70px;
  margin-bottom: 1rem;
}

.form-section {
  padding: 3rem 2rem;
  background-color: #fff;
}

.email-pass {
  border: 2px solid rgba(157, 157, 157, 0.27);
  border-radius: 8px;
  padding: 12px 15px;
  width: 100%;
}

.email-pass:focus {
  border-color: #000;
  outline: none;
  box-shadow: none;
}

.login-button {
  background-color: rgba(7, 7, 103, 0.9);
  color: #fff;
  border: none;
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
  transition: 0.3s;
}

.login-button:hover {
  background-color: #04aa6d;
}

.fa {
  padding: 12px;
  font-size: 20px;
  width: 38px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

@media (max-width: 767px) {
  .intro-section {
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
  }

  .form-section {
    padding: 2rem 1.5rem;
  }
}
